/* Web2Risk - https://coolors.co/fddb00-ffffff-568ea3-68c3d4-313638 */

/* CSS HEX */
--school-bus-yellow: #fddb00ff;
--white: #ffffffff;
--air-force-blue: #568ea3ff;
--sky-blue: #68c3d4ff;
--onyx: #313638ff;

/* CSS HSL */
--school-bus-yellow: hsla(52, 100%, 50%, 1);
--white: hsla(0, 0%, 100%, 1);
--air-force-blue: hsla(196, 31%, 49%, 1);
--sky-blue: hsla(189, 56%, 62%, 1);
--onyx: hsla(197, 7%, 21%, 1);

/* SCSS HEX */
$school-bus-yellow: #fddb00ff;
$white: #ffffffff;
$air-force-blue: #568ea3ff;
$sky-blue: #68c3d4ff;
$onyx: #313638ff;

/* SCSS HSL */
$school-bus-yellow: hsla(52, 100%, 50%, 1);
$white: hsla(0, 0%, 100%, 1);
$air-force-blue: hsla(196, 31%, 49%, 1);
$sky-blue: hsla(189, 56%, 62%, 1);
$onyx: hsla(197, 7%, 21%, 1);

/* SCSS RGB */
$school-bus-yellow: rgba(253, 219, 0, 1);
$white: rgba(255, 255, 255, 1);
$air-force-blue: rgba(86, 142, 163, 1);
$sky-blue: rgba(104, 195, 212, 1);
$onyx: rgba(49, 54, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-right: linear-gradient(90deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-bottom: linear-gradient(180deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-left: linear-gradient(270deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-top-right: linear-gradient(45deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-bottom-right: linear-gradient(135deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-top-left: linear-gradient(225deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-bottom-left: linear-gradient(315deg, #fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);
$gradient-radial: radial-gradient(#fddb00ff, #ffffffff, #568ea3ff, #68c3d4ff, #313638ff);